<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
  http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
    <display-name>LANS Hotels</display-name>
    <error-page>
        <error-code>404</error-code>
        <location>/spa.jsp</location>
    </error-page>
    <context-param>
        <param-name>com.auth0.domain</param-name>
        <param-value>dev-easqepri.us.auth0.com</param-value>
    </context-param>

    <context-param>
        <param-name>com.auth0.clientId</param-name>
        <param-value>I8DM45EYicQ857Mj4s3pFRCpud5ES0IC</param-value>
    </context-param>

    <context-param>
        <param-name>com.auth0.audience</param-name>
        <param-value>https://swen90007-2022-lans.herokuapp.com/api</param-value>
    </context-param>

    <context-param>
        <param-name>com.auth0.clientSecret</param-name>
        <param-value>vaaEZhao-NLWlzGCMQX4Vx218aIfzP9OIPwhkRpofvL4CaOmpk9G6DeA5kN0UE1U</param-value>
    </context-param>
    <!-- Servlet initialization parameters -->
</web-app>